@font-face {
  font-family: "Circular Pro Book";
  src: url(https://github.com/andywalton7/ReDocTest/blob/master/lineto-circular-pro-book.woff2?raw=true);
}

body {
	font-family: "Circular Pro Book" !important;
}

h1, h2, h3 {
	font-family: "Circular Pro Bold";
}

#hub-landing-top h2 {
	font-size: 7em;
}